@use "../../../styles/media_queries" as *;

.gridWrapper {
    position: relative;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    border: 2px solid var(--purple);
    background-color: var(--light-purple-3);

    @include mq("md") {
        width: 60%;
        padding-bottom: 60%;
    }

    @include mq("lg") {
        max-width: 650px;
    }
}
