$colors: (
    "black": #000,
    "white": #fff,
    "gray-1": #1a1a1a,
    "gray-2": #4d4d4d,
    "purple": #531cb3,
    "magenta": #b51c7d,
    "green": #1cb554,
    "red": #b51c31,
    "blue": #1c4ab5,
    "light-purple-1": #d1bcf6,
    "light-purple-2": #e7dcf9,
    "light-purple-3": #eae0fb,
    "light-purple-4": #f3edfc,
    "light-purple-5": #f9f6fe,
    "light-purple-6": #faf5ff,
    "light-magenta": #fce9f5,
    "light-red": #fef6f7,
    "light-green-1": #dcfae7,
    "light-green-2": #fbfefc,
    "light-blue-1": #e0e8fa,
    "light-blue-2": #fbfcfe,
);

@function get-color($key) {
    @return map-get($colors, $key);
}

:root {
    --black: #000;
    --white: #fff;
    --gray-1: #1a1a1a;
    --gray-2: #4d4d4d;
    --purple: #531cb3;
    --magenta: #b51c7d;
    --green: #1cb554;
    --red: #b51c31;
    --blue: #1c4ab5;
    --light-purple-1: #d1bcf6;
    --light-purple-2: #e7dcf9;
    --light-purple-3: #eae0fb;
    --light-purple-4: #f3edfc;
    --light-purple-5: #f9f6fe;
    --light-purple-6: #faf5ff;
    --light-magenta: #fce9f5;
    --light-red: #fef6f7;
    --light-green-1: #dcfae7;
    --light-green-2: #fbfefc;
    --light-blue-1: #e0e8fa;
    --light-blue-2: #fbfcfe;
}
