@use './media_queries' as *;

@mixin container {
    max-width: 1200px;
    margin: auto;
    padding: var(--space-sm);
}

.container {
    @include container();
}

@mixin flex($bp) {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mq($bp){
        flex-direction: row;
        justify-content: center;
    }
    
    @content;
}
