@use "../../../styles/media_queries" as *;

.control {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: var(--space-md);
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    display: flex;
    gap: var(--space-xs);
    flex-direction: column;
}